/* https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html */
.scroll-pane {
   -fx-background-color: transparent;
   -fx-hbar-policy: never;
   -fx-vbar-policy: always;
}
#seasonTxt, #episodeTxt {
	-fx-text-fill: blue;
}
#deleteBtn {
	-fx-background-radius: 10px;
}
#barSave:hover,#barSave:pressed,#barSave:focused,#barSave:exit {
	-fx-background-color: transparent;
}
/*
#pane{
	-fx-background-color: #ffaaaa;
}
#scrollPane {
	-fx-background-color: #aaffaa;
}
#showListBox {
	-fx-background-color: blue;
}

#rootPane {
  -fx-border-insets: 23;

  -fx-background-insets: 23;

  -fx-background-radius: 6;

  -fx-border-radius: 6;

  -fx-border-color: gray;

  -fx-border-style: solid;

  -fx-border-width: 1;

  -fx-effect: dropshadow(three-pass-box, rgba(100, 0, 0, 1), 24, 0.5, 0, 0);
}
*/